<footer class="footer">
    <div class="footer__container">
        <div class="footer__info">
            <p class="footer__item">Designed by doopath</p>
            <p class="footer__item">Developed by doopath</p>
            <p class="footer__item">Colorscheme: gruvbox</p>
            <p class="footer__item">Copyright 2020</p>
        </div>

        <ul class="footer__contacts__list">
            <a href="https://facebook.com" class="footer__contacts__link">
                <li class="footer__contacts__item">Facebook</li>
            </a>

            <a href="https://twitter.com" class="footer__contacts__link">
                <li class="footer__contacts__item">Twitter</li>
            </a>

            <a href="https://vk.com" class="footer__contacts__link">
                <li class="footer__contacts__item">VKontakte</li>
            </a>

            <a href="https://telegram.org" class="footer__contacts__link">
                <li class="footer__contacts__item">Telegram</li>
            </a>

        </ul>

        <ul class="footer__contacts__list">
            <a href="https://github.com" class="footer__contacts__link">
                <li class="footer__contacts__item">GitHub</li>
            </a>

            <a href="https://freelancehunt.com" class="footer__contacts__link">
                <li class="footer__contacts__item">Freelancehunt</li>
            </a>

            <a href="https://kwork.ru" class="footer__contacts__link">
                <li class="footer__contacts__item">Kwork</li>
            </a>

            <a href="https://reddit.com" class="footer__contacts__link">
                <li class="footer__contacts__item">Reddit</li>
            </a>
        </ul>
    </div>
</footer>